---
import type { Project } from '@/types/sections/portfolio-section.types';
import Description from '@/web/components/description.astro';
import LabelledValue from '@/web/components/labelled-value.astro';
import LinkButton from '@/web/components/link-button.astro';
import Photo from '@/components/photo.astro';
import TagsList from '@/web/components/tags-list.astro';
import Timestamp from '@/web/components/timestamp.astro';
import Typography from '@/web/components/typography.astro';

export interface Props extends Project {}

const { dates, description, details, image, links, name, tagsList } = Astro.props;

const alt = `${name} project thumbnail`;
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-4">
    <div class="flex gap-6">
      <div class="flex w-full flex-col gap-4">
        <div class="flex gap-4">
          {
            image && (
              <Photo
                src={image}
                alt={alt}
                width={108}
                height={108}
                class="hidden h-14 w-14 flex-shrink-0 rounded-lg object-cover sm:block"
              />
            )
          }
          <div class="flex w-full justify-between">
            <div>
              <Typography variant="item-title">{name}</Typography>
              <Timestamp dates={dates} />
            </div>
            <div class="flex gap-2">
              {links.map((link) => <LinkButton {...link} />)}
            </div>
          </div>
        </div>
        <div class="inline-grid w-full xl:grid-cols-[auto_auto]">
          {details.map((detail) => <LabelledValue {...detail} />)}
        </div>
      </div>
    </div>
    <Description content={description} class="col-span-3 col-start-1" />
  </div>
  <TagsList {...tagsList} />
</div>
