---
import type { Data } from '@/types/data';

export interface Props extends Pick<Data['config'], 'seo' | 'i18n'> {}

const { seo, i18n } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18n.locale.code} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
    <link rel="icon" type="image/svg+xml" href={seo.favicon} />
    <meta property="og:title" content={seo.ogTitle ?? seo.title} />
    <meta property="og:description" content={seo.ogDescription ?? seo.description} />
    {seo.ogImage && <meta property="og:image" content={seo.ogImage} />}
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }

      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body class="flex justify-center overflow-x-hidden bg-gray-50 dark:bg-gray-900 xl:relative xl:left-7">
    <slot />
  </body>
</html>
