---
import { Image } from '@astrojs/image/components';

import Typography from '@/atoms/typography.astro';
import type { Book } from '@/types/favorites-section';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  value: Book;
}

const { value, ...props } = Astro.props;
const BookTile = 'a';
---

<BookTile
  href={value.url}
  class:list={['flex', 'flex-col', 'gap-3', 'transition', 'duration-300', 'hover:translate-y-2', 'w-full', props.class]}
>
  <Image
    class:list={['rounded-lg', 'shadow-md', 'aspect-[3/4]', 'object-cover']}
    format="webp"
    fit={'cover'}
    aspectRatio={3 / 4}
    quality={100}
    src={value.cover}
    alt={value.title}
  />
  <div class:list={['tile-content', 'gap-1', 'w-full']}>
    <Typography class:list={['leading-5', 'hover:text-gray-900']} variant="tile-title">
      {value.title}
    </Typography>
    <Typography variant="tile-subtitle">
      {value.author}
    </Typography>
  </div>
</BookTile>
