---
import { Image } from '@astrojs/image/components';

import Typography from '@/atoms/typography.astro';
import type { Media } from '@/types/favorites-section';

export interface Props {
  value: Media;
}

const { value } = Astro.props;
---

<a href={value.url} class="flex w-full flex-col gap-3 transition duration-300 hover:translate-y-2">
  <Image
    class="rounded-lg shadow-md aspect-square object-cover"
    fit="cover"
    format="webp"
    aspectRatio={1}
    quality={100}
    src={value.image}
    alt={value.title}
  />
  <div class="gap-1">
    <Typography class="leading-5 hover:text-gray-900" variant="tile-title">
      {value.title}
    </Typography>
    <Typography variant="tile-subtitle">
      {value.type}
    </Typography>
  </div>
</a>
