---
import { Image } from '@astrojs/image/components';

import Typography from '@/atoms/typography.astro';
import type { Video } from '@/types/favorites-section';

export interface Props {
  value: Video;
}

const {
  value: { title, url },
} = Astro.props;

const id = url.split('/').pop();
const thumbnail = `https://img.youtube.com/vi/${id}/0.jpg`;
---

<a href={url} class="flex w-full flex-col gap-3 transition duration-300 hover:translate-y-2">
  <Image
    class="rounded-lg shadow-md aspect-video object-cover"
    format="webp"
    width={240}
    height={180}
    src={thumbnail}
    alt={title}
  />
  <div class="tile-content gap-1">
    <Typography class="leading-5 hover:text-gray-900" variant="tile-title">
      {title}
    </Typography>
  </div>
</a>
