---
import type { ExperienceSection } from '@/types/sections/experience-section.types';
import DashedDivider from '../components/dashed-divider.astro';
import Description from '../components/description.astro';
import ListItemHeading from '../components/list-item-heading.astro';
import SectionHeading from '../components/section-heading.astro';
import TagsList from '../components/tags-list.astro';

export interface Props extends ExperienceSection {}

const { config, jobs } = Astro.props;
---

<div>
  <SectionHeading>{config.title}</SectionHeading>
  <div class="flex flex-col">
    {
      jobs.map(({ company, role, description, tagsList, dates }) => () => (
        <>
          <div class="flex flex-col gap-2">
            <ListItemHeading title={role} subtitle={company} dates={dates} />
            <Description content={description} />
            <TagsList {...tagsList} />
          </div>
          <DashedDivider />
        </>
      ))
    }
  </div>
</div>
