---
import type { PdfDetail } from '@/types/common';
import type { I18n } from '@/types/i18n';
import type { PortfolioSection } from '@/types/portfolio-section';
import DashedDivider from '../components/dashed-divider.astro';
import Description from '../components/description.astro';
import LabelledValue from '../components/labelled-value.astro';
import ListItemHeading from '../components/list-item-heading.astro';
import SectionHeading from '../components/section-heading.astro';
import TagsList from '../components/tags-list.astro';

export interface Props extends PortfolioSection {
  i18n: I18n;
}

const {
  config: { title },
  projects,
  i18n,
} = Astro.props;
---

<div>
  <SectionHeading>{title}</SectionHeading>
  <div class="flex flex-col">
    {
      projects.map(({ name, description, pdfDetails, details, tags, startDate, endDate }) => () => (
        <>
          <div class="flex flex-col gap-1.5">
            <ListItemHeading title={name} startDate={startDate} endDate={endDate} i18n={i18n} />
            <Description content={description} />
            <div>
              {(pdfDetails || details).map((detail: PdfDetail) => (
                <LabelledValue {...detail} />
              ))}
            </div>
            <TagsList label="Technologies" tags={tags} />
          </div>
          <DashedDivider />
        </>
      ))
    }
  </div>
</div>
