---
import Icon from '@/atoms/icon';
import Typography from '@/atoms/typography.astro';
import type { LevelledSkill } from '@/types/skills-section';

import SkillLevel from './skill-level.astro';

export interface Props extends LevelledSkill {}

const { url, icon, iconColor, name, level } = Astro.props;
---

<div class:list={['flex', 'flex-col', 'gap-2']}>
  <div class:list={['flex', 'gap-2', 'h-5']}>
    <Icon client:load name={icon} color={iconColor} size={20} url={url} />
    <Typography variant="tile-subtitle" class="text-gray-700">{name}</Typography>
  </div>
  <SkillLevel skillLevel={level} />
</div>
