---
import Tag from '@/atoms/tag.astro';
import type { Tag as TagData } from '@/types/common';

export interface Props {
  skills: TagData[];
}

const { skills } = Astro.props;
---

<div class="flex flex-wrap items-center gap-3">
  {
    skills.map(({ name, icon, iconColor, url }) =>
      url ? (
        <a href={url} target="_blank" rel="noopener noreferrer">
          <Tag name={icon} color={iconColor}>
            {name}
          </Tag>
        </a>
      ) : (
        <Tag name={icon} color={iconColor}>
          {name}
        </Tag>
      )
    )
  }
</div>
