---
import { Image } from '@astrojs/image/components';

import IconButton from '@/atoms/icon-button.astro';
import Typography from '@/atoms/typography.astro';
import type { Testimonial } from '@/types/testimonials-section';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  testimonial: Testimonial;
}

const {
  testimonial: { author, content, image, relation, socials },
} = Astro.props;
---

<div class:list={['w-full', 'px-4', 'py-8', 'flex', 'flex-col', 'gap-4']}>
  <div class:list={['flex', 'justify-between']}>
    <div class:list={['flex', 'gap-4', 'flex-col', 'sm:flex-row']}>
      <Image src={image} alt={author} format="webp" class:list={['w-14', 'h-14', 'rounded-lg']} />
      <div>
        <Typography variant="item-title">{author}</Typography>
        <Typography variant="item-subtitle">{relation}</Typography>
      </div>
    </div>
    {
      socials && (
        <div class:list={['flex', 'gap-3']}>
          {socials.map(({ icon, url, name }) => (
            <IconButton icon={icon} href={url} target="_blank" size="small" aria-label={name} />
          ))}
        </div>
      )
    }
  </div>
  <Typography variant="paragraph">{content}</Typography>
</div>
